TELEGRAM_BOT_TOKEN="8713963408:AAEMO4tz4XoWwDa6P1tsBC6TOIb61LGTFn0"
TELEGRAM_ALLOWED_USER_IDS="1554082652"

GROQ_API_KEY="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"

OPENROUTER_API_KEY="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"
OPENROUTER_MODEL="openrouter/free"

DB_PATH="./memory.db"
GOOGLE_APPLICATION_CREDENTIALS="./service-account.json"
